# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anyio
appnope
argon2-cffi
async-generator
attrs
babel
backcall
bertviz
blas
bleach
boto3
botocore
bzip2
ca-certificates
certifi
cffi
chardet
click
configparser
decorator
defusedxml
deprecation
docker-pycreds
entrypoints
ffmpeg
filelock
folium
freetype
gettext
gitdb
gitpython
gmp
gnutls
icu
idna
importlib-metadata
intel-openmp
ipykernel
ipython
ipython-genutils
jedi
jinja2
jmespath
joblib
jpeg
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
lame
lcms2
libcxx
libffi
libiconv
libidn2
libpng
libtasn1
libtiff
libunistring
libuv
libxml2
llvm-openmp
lz4-c
markupsafe
mistune
mkl
mkl-service
mkl_fft
mkl_random
nbclassic
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
nettle
ninja
notebook
numpy
numpy-base
olefile
openh264
openssl
packaging
pandocfilters
parso
pathtools
pexpect
pickleshare
pillow
pip
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pycparser
pygments
pyparsing
pyrsistent
python
python-dateutil
pytorch
pytz
pyyaml
pyzmq
readline
regex
requests
s3transfer
sacremoses
send2trash
sentencepiece
sentry-sdk
setuptools
shortuuid
six
smmap
sniffio
sqlite
subprocess32
terminado
testpath
tk
tokenizers
tomlkit
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
wandb
wcwidth
webencodings
wheel
xz
zipp
zlib
zstd
