# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anyio=2.2.0
appnope=0.1.2
argon2-cffi=20.1.0
async-generator=1.10
attrs=20.3.0
babel=2.9.0
backcall=0.2.0
bertviz=1.0.0
blas=1.0
bleach=3.3.0
boto3=1.17.50
botocore=1.20.50
bzip2=1.0.8
ca-certificates=2021.1.19
certifi=2020.12.5
cffi=1.14.5
chardet=4.0.0
click=7.1.2
configparser=5.0.2
decorator=5.0.6
defusedxml=0.7.1
deprecation=2.1.0
docker-pycreds=0.4.0
entrypoints=0.3
ffmpeg=4.3
filelock=3.0.12
folium=0.2.1
freetype=2.10.4
gettext=0.21.0
gitdb=4.0.7
gitpython=3.1.14
gmp=6.2.1
gnutls=3.6.15
icu=58.2
idna=2.10
importlib-metadata=3.10.1
intel-openmp=2019.4
ipykernel=5.5.3
ipython=7.22.0
ipython-genutils=0.2.0
jedi=0.18.0
jinja2=2.11.3
jmespath=0.10.0
joblib=1.0.1
jpeg=9b
json5=0.9.5
jsonschema=3.2.0
jupyter-client=6.1.12
jupyter-core=4.7.1
jupyter-packaging=0.9.1
jupyter-server=1.6.1
jupyterlab=3.0.14
jupyterlab-pygments=0.1.2
jupyterlab-server=2.4.0
lame=3.100
lcms2=2.12
libcxx=10.0.0
libffi=3.3
libiconv=1.16
libidn2=2.3.0
libpng=1.6.37
libtasn1=4.16.0
libtiff=4.1.0
libunistring=0.9.10
libuv=1.40.0
libxml2=2.9.10
llvm-openmp=10.0.0
lz4-c=1.9.3
markupsafe=1.1.1
mistune=0.8.4
mkl=2019.4
mkl-service=2.3.0
mkl_fft=1.3.0
mkl_random=1.1.1
nbclassic=0.2.7
nbclient=0.5.3
nbconvert=6.0.7
nbformat=5.1.3
ncurses=6.2
nest-asyncio=1.5.1
nettle=3.7.2
ninja=1.10.2
notebook=6.3.0
numpy=1.19.2
numpy-base=1.19.2
olefile=0.46
openh264=2.1.0
openssl=1.1.1k
packaging=20.9
pandocfilters=1.4.3
parso=0.8.2
pathtools=0.1.2
pexpect=4.8.0
pickleshare=0.7.5
pillow=8.2.0
pip=21.0.1
prometheus-client=0.10.1
promise=2.3
prompt-toolkit=3.0.18
protobuf=3.15.8
psutil=5.8.0
ptyprocess=0.7.0
pycparser=2.20
pygments=2.8.1
pyparsing=2.4.7
pyrsistent=0.17.3
python=3.7.10
python-dateutil=2.8.1
pytorch=1.8.1
pytz=2021.1
pyyaml=5.4.1
pyzmq=22.0.3
readline=8.1
regex=2021.4.4
requests=2.25.1
s3transfer=0.3.6
sacremoses=0.0.44
send2trash=1.5.0
sentencepiece=0.1.95
sentry-sdk=1.0.0
setuptools=52.0.0
shortuuid=1.0.1
six=1.15.0
smmap=4.0.0
sniffio=1.2.0
sqlite=3.35.4
subprocess32=3.5.4
terminado=0.9.4
testpath=0.4.4
tk=8.6.10
tokenizers=0.10.2
tomlkit=0.7.0
torchaudio=0.8.1
torchvision=0.9.1
tornado=6.1
tqdm=4.60.0
traitlets=5.0.5
transformers=4.5.0
typing_extensions=3.7.4.3
urllib3=1.25.4
wandb=0.10.25
wcwidth=0.2.5
webencodings=0.5.1
wheel=0.36.2
xz=5.2.5
zipp=3.4.1
zlib=1.2.11
zstd=1.4.9
